/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
!app/cache/.gitkeep
!app/logs/.gitkeep

*.log

app/logs/dev.log

app/cache/dev/profiler/index.csv

TWeb.zip
