/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
!app/cache/.gitkeep
!app/logs/.gitkeep

*.log

app/logs/dev.log

app/cache/dev/profiler/index.csv

TWeb.zip

app/cache/dev/appDevDebugProjectContainer.php

app/cache/dev/appDevDebugProjectContainer.php.meta

app/cache/dev/appDevDebugProjectContainer.xml

app/cache/dev/appDevUrlMatcher.php.meta

app/cache/prod/appProdProjectContainer.php

app/cache/prod/appProdUrlMatcher.php

app/cache/dev/classes.php.meta

app/cache/dev/assetic/routing.yml

app/cache/dev/appDevUrlGenerator.php.meta


app/cache/dev/appDevUrlGenerator.php.meta

app/logs/dev.log

app/cache/dev/profiler/index.csv
